<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
		<style>
			table, th, td { border:1px solid black;}
		</style>
		<body>		 	
			<h2> Welcome:<span th:text="${message}"></span> </h2>

			<table style="width:100%">
				<tr>
				    <th>編號</th>
				    <th>姓名</th>
				    <th>年齡</th>
				</tr>				
				<tr th:each="customer,status : ${customerlist}">
		            <td th:text="${customer.id}">id</td>
		            <td th:text="${customer.name}">name</td>
		            <td th:text="${customer.age}">age</td>
	       		</tr>
			</table>
		
				<form action="#" method="post" th:action="@{/query}" th:object="${customerdto}">
				 <fieldset>
				    <input type="text" th:field="*{name}">
				    <input type="text" th:field="*{age}">
				  </fieldset>   
				</form>
		
		</body>
</html>